.*
*.sln*
*.suo
bower.json
defaults*.json
gulpfile.js
tslint.json
artwork/
bower_components/dt-chai
bower_components/dt-mocha
bower_components/dt-sinon*
bower_components/dt-vinyl
coverage/
dist/d.ts/
js/test/
lib/
tasks/
test/
